/* common style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
img {
  width: 100%;
}
/* container */
.container {
  max-width: 1280px;
  margin: auto;
}
.primary-btn {
  border-radius: 10px;
  background: #dd0000;
  color: white;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  padding: 15px 25px;
  border: none;
}
/* Custom style */
/* banner */
.banner {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 30px;

  margin: 50px auto;
}
.banner-left {
  flex: 1;
  padding-left: 40px;
}
.banner-left h2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 80px;
}
.banner-left p {
  line-height: 24px;
  max-width: 80%;
  margin: 20px 0;
}
.banner-right {
  flex: 1;
}
.banner-right img {
  display: block;
}

/* Responsive Design - Media Queries */
/* laptop/tap device*/
@media screen and (max-width: 992px) {
  /* container */
  .container {
    margin: 20px 20px;
  }
  /* banner */
  .banner-left h2 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 50px;
  }
}

/* mobile device */
@media screen and (max-width: 768px) {
  /* container */
  .container {
    margin: 10px;
  }
  /* banner */
  .banner {
    flex-direction: column;
    text-align: center;
  }
  .banner .banner-left {
    padding-left: 0;
    padding-top: 30px;
    margin-bottom: 30px;
  }
  .banner-left h2 {
    font-size: 22px;
    line-height: 33px;
  }
  .banner-left p {
    max-width: 100%;
    padding: 0 10px;
  }
}

